@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans-Bold.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
    url('../fonts/PlusJakartaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
img{
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
}
.container{
    width: 1256px;
    margin: 0 auto;
    padding: 0 20px;
}
.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/* HEADER START */
.site_header{
    margin-bottom: 91px;
    padding: 24px 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEF4; 
}
.header_inner{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 30px 0px;
}
.nav_list{
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding: 0;
    list-style-type: none;
}
.nav_item{
    margin-right: 30px;
}
.nav_item:last-child{
    margin-right: 0px;
}
.nav_link{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #101010;
    /* transition: all 0.5s ease; */
}
.nav_link:hover{
    color: #1AAB7B;
}
.nav_link:active{
    opacity: 0.6;
}
.logo_link:hover{
    opacity: 0.8;
}
.logo_link:hover{
    opacity: 0.6;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header_tel{
    padding: 12px 24px;
    display: inline-block;
    margin-left: auto;
    background: #101010;
    border-radius: 6px;
    border: 1px solid transparent;
    /* transition: all 0.5s ease; */
}
.tel_number{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    
}
.header_tel:hover{
    background: #FFFFFF;
    border: 1px solid #1AAB7B;
}
.tel_number:hover{
    color: #1AAB7B;
}
.header_tel:active{
    background: #101010;
    opacity: 0.6;
    
}
.tel_number:active{
    color: #FFFFFF;
}
.line{
    border-bottom: 1px solid #EEEEF4;
}
/* HEADER FINISHED */

/* HERO START */
.hero_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.hero_left{
    width: 550px;
    margin: 0px;
}
.hero_title{
    margin:0px;
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;
    color: #101010;
}
.hero_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #636F87;
    margin-bottom: 40px;
}
.hero_span{
    display: inline-block;
    align-items: flex-start;
    padding: 20px 40px;
    background: #1AAB7B;
    border-radius: 5px;
    margin-bottom: 56px;
    border: 1px solid transparent;
    transition: all 0.5s ease; 
}
.hero_span:hover{
    background: #FFFFFF;
    border: 1.5px solid #1AAB7B;
    border-radius: 6px;
}
.hero_span:active{
    background: #1AAB7B;
    opacity: 0.7;
    border-radius: 6px;
}
.hero_link{
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.5s ease;
}
.hero_link:hover{
    color: #1AAB7B;
}
.hero_link:active{
    color: #FFFFFF;
}
/* HERO FINISHED */


.design{
    margin: 0;
    padding:0px;
    background: #F2F4F6;
    
}
.design_inner{
    width: 383px;
    margin:0 auto 40px;
}
.title{
    margin: 0;
    padding: 50px 0px 40px;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: #101010;
}
.design_list{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.design_item{
    position: relative;
    width: 370px;
    padding: 40px 30px;
    margin-bottom: 20px;
    list-style-type: none;
    margin-right: 20px;
    background: #FFFFFF;
    border: 2px solid #E1E7ED;
    border-radius: 6px;
    transition: all 0.5s ease; 
}
.design_item:hover{
    background: #1AAB7B;
}

.color:hover{
    color: #FFFFFF;
} 
.design_item:before{
    position: absolute;
    display: inline-block;
    width: 64px;
    height: 64px;
    top: 30px;
    right: 30px;
    background-image: url("../images/icon1.svg");
    background-repeat: no-repeat;
    
    content:'' ;
}
.design_item:nth-child(2)::before{
    background-image: url(../images/icon2.svg);
}
.design_item:nth-child(3)::before{
    background-image: url(../images/icon3.svg);
}
.design_item:nth-child(4)::before{
    background-image: url(../images/icon4.svg);
}
.design_item:nth-child(5)::before{
    background-image: url(../images/icon5.svg);
}
.design_title{
    margin: 0px;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: #101010;
}
.design_text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #636F87;
}
.design_link{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #000000;
}
/* WORK_PAGE STARED */
.work_page{
    width: 650px;
    margin: 0 auto;
}
.work_list{
    padding: 0px;
    margin: 0px;
}
.work_title{
    margin-top: 100px;
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: #101010;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.work_text{
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #636F87;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.work_item{
    display: flex;
    align-items: flex-start;
    margin:90px 0px;
}
.work_item:nth-child(2){
    flex-flow: row-reverse;
}
.work_styles{
    width: 488px;
    margin-left: 32px;
}
.work_styles_titel{
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: #101010;
}
.work_styles_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #636F87;
}
/* WORK_PAGE FINISHED */
.registration_inner{
    display: block;
    margin: 0 auto;
    width: 650px;
}
.registration_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    color: #101010;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.regisration_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #636F87;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/* FORM STARTED */
form{
    width: 1008px;
    height: 515px;
    margin: 0 auto;
    padding: 34px 312px ;
    background: #F2F4F6;
    border-radius: 6px;
}
.input{
    display: block;
    margin-top: 25px;
    padding: 21px 120px 21px 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #101010;
    border: 1px solid transparent;
    background: #F2F4F6;
    border-radius: 6px;
}
.registration_line{
    margin: 0px;
}
select{
    display: block;
    margin: 51px 0px 41px 0px;
    padding: 21px 190px 21px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #101010;
    border: 1px solid transparent;
    background: #F2F4F6;
    border-radius: 6px;
}
button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 69px;
    background: #1AAB7B;
    border-radius: 6px;
    margin-bottom: 24px;
}
.regisration_span{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #858EA2;
}
/* FORM FINISHED */
/* FOOTER STARTED */
.site_end{
    background-color: #000;

}
.site_footer{
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 100px 0 50px;

}
.services{
    margin-right: 151px;
}
.services_list{
    list-style-type: none;
    display: block;
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
.resources_list{
    display: block;
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
.footer_item{
    margin-top: 26px; 
}
.link_white{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
    color: #FFFFFF;
}
.footer_link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
     color: #A1A8B7; 
}
.footer_link:hover{
    color: #1AAB7B;
}
.footer_link:active{
    color: #1AAB7B;
    opacity: 0.8;
}
.Connect{
    margin-left: auto;
}
.connect_list{
    display:block;
    align-items: flex-start;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.icon_apk{
    margin-top: 32px;
}
.icon_link{
    margin-right: 40px;
}
.footer_line{
    background: #3B4155;
}
.footer_end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 0;
}
.footer_logo{
    margin:0px;
    padding: 0px;
}
.last_span{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: right;
    color: #FFFFFF;
}


/* FOOTER FINISHED */




